body {
	font-family: Helvetica, Verdana;
	font-size: 9pt;
	margin: 0;
	background-color: #000;
	color: #777;
}

#widgets > div {
	width: 600px;
	border:10px solid green;
	margin: 0 auto;
}

.widget {
	min-width: 100px;
	min-height: 80px;
	width: 10%;
	height: 10%;
	border: 1px solid #444;
	float: left;
	padding: 4px;
	margin: 3px;
}

.widget.mid {
	width: 15%;
}

input, button {
	background-color: #222;
	border: 0;
	color: #888;
	margin: 2px;

}
input[type=text] {
	width: 30px;
	text-align:right;
	border: 0;
}

input[type=text].mid {
	width: 70px;
}

.clear {
	clear: both;
}